body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    
    
}
h1{
    margin: 0;
}
.for_all_blocks{
    max-width: 1140px;
    margin:0 auto; 
    /* padding-left: calc(50% - 570);
    padding-right: calc(50% - 570);  */
    
}
.header{
    max-width: 1600px;
    height: 75px;
    
    background-color: #222;
   
    display: flex;
    
    
    
    
    }
.header_left{
    display: flex;
    
    
    }
.header_first{
    
    margin-left: 150px; 
    margin-top:  18px;
    margin-bottom: 19px;
    
    
    

}  
.header_second{
    
    margin-top:  28px;
    margin-bottom: 20px;
    margin-left: 41px;
    margin-right: 800px;
    

}
.header_right{
    
    margin-top:  26px;
    margin-bottom: 20px;
    margin-right: 231px;
    
    
    
    

}
.first_block{
   max-width: 1600px;
    /* height: 764px; */
    
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    background-color:#F1E4E6;
      
    /* justify-content: center; */
    
    

}
.first_block_left{
    
    
    
}
.first_block_right{
    display: flex;
    
    gap: 16px;
    margin-left: 63.42px;  ;
    margin-top:  290px;
    margin-bottom: 381px;
}
.first_block_right_text{
    /* width: 377px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first_block_right_text_1{
    
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}
.first_block_right_text_2{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.first_block_right_text_2_red{
    color:#F16D7F;
}

.offer{
    
    
    padding-top: 65px ;
    
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    
    gap: 30px;
    
}
.offer_block{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.offer_block_w{
    height: 260px;
       
    background-image: url("../pictures/for_women_pic.png");
    
}
.offer_block_m{
    height: 260px;
    background-image: url("../pictures/for_men_pic.jpg");
}
.offer_block_k{ 
    background-image: url("../pictures/for_kids_pic.png"); 
}


/* .offer_block_k_bg{
    z-index: 1;
    top: 50;
    left: 50;
    width: 100px;
    height: 100px;
    color: black;
} */
.offer_block_k:hover{
    background-image: url("../pictures/for_kids_dark.jpg");
    
}

.wide_block{
    
    grid-column: 1/4;
    height: 180px;
    
    
    background-image: url("../pictures/accesories_pic.png");
}
.offer_text_1{
    color: #FFF;

    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.offer_text_2{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
.block_3{
    /* margin-top: 96px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 96px;

}

.block_3_main_text{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.block_3_text{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.products{
    
    
    
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    
    column-gap: 30px;
    row-gap: 25px;
    

}
.product_block{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color:#F8F8F8 ;

}
.product_block_pic{
    display: flex;
    padding: 10px 110.06px 11px 108px;
    justify-content: center;
    background-color:#F7E4E2;


}
.product_block_text{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin: 24px 16px;
}
.product_block_header{
    color: #000;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.product_block_discription{
    color: #5D5D5D;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.product_block_price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.botton{
width: 212px;
margin-left: auto;
margin-right: auto;
margin-top: 48px;
margin-bottom: 60px ;

padding: 15px 39px 14px 39px;
display: flex;
border: 1px solid #F26376;
color: #F26376;

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
justify-content: center;
align-items: center;

}
.after_button{
max-width: 1600px;

display: flex; 
background-color:#222224 ;
gap: 30px;
align-items: baseline;
justify-content: center;

}
.after_button_card{
    
    /* border: 1px solid #999; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
.after_botton_pic{
   
    margin: 103px 157px 28px 158px;
}
.after_botton_text{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding-bottom: 104px;
    align-items: center;
}
.after_button_header{
    
    
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}
.after_botton_discription{
    width: 360px;
    padding-left: 16px;
    padding-right: 28px;
    
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
.face{
    display: flex;
    max-width: 1600px;
    
    background-image: url(../pictures/photo\ subscribe.png);
    gap: 238px;
    justify-content: center;
}
.face_card{
    display: flex;
   
    flex-direction: column;
    align-items: center;
    padding-bottom: 126px;
}
.face_card_pic{
    margin: 97px 142px 30px 122px;
}
.face_card_text{
    width: 360px;
    color: #222224;

text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.face_card_text_it{
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;   
}
.face_card_2{
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:32px; */
    
}
.face_card_big_text{
    
    color: #222224;

    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;

}
.face_card_big_text_thin{
    
    color: #222224;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 167.2%;
}
.face_card_wrapper{
    margin-top: 28px;
    display: flex;
}
footer {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #222224;
    gap: 635px;
}
.footer_text{
    margin: 30px 0 30px auto;
    color: #FBFBFB;
    justify-content: center;

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.icon{
    margin: 24px auto 23px 0;
}