body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    
    
}
h1{
    margin: 0;
}
.for_all_blocks{
    max-width: 100%;
    max-width: 1140px;
    margin:0 auto; 
    
    
}
.header{
    max-width: 1600px;
    height: 75px;
    
    
    background-color: #222;
   
    display: flex;
    justify-content: space-around;
    
    
    
    
    }
.header_left{
    display: flex;
    
    
    }
.header_first{
    
    /* margin-left: 150px;  */
    margin-top:  18px;
    margin-bottom: 19px;
    
    
    

}  
.header_second{
    
    margin-top:  28px;
    margin-bottom: 20px;
    margin-left: 41px;
    /*margin-right: 800px; */
    

}
.header_right{
    display: flex;
    margin-top:  26px;
    margin-bottom: 20px;
    align-items: center;
    }
.burger:hover .header_icon_list__drop-down-menu{
display:block   

}
.header_icon_list__drop-down-menu{
    display: none;
    position: fixed;
    top:75px;
    right:0;
    background-color: #FFF;
    z-index: 2;
    padding-left:33px;
    padding-top:32px;
    padding-right: 74px;
    padding-bottom:32px ;
}
.drop-down-menu__title{
padding-left: 1px;
color: #000;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 4px;
}
.drop-down-menu__subtitle{

margin-top: 20px;
margin-bottom: 1px;
color: #F16D7F;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.drop-down-menu__point-link{
    padding-top: 11px;
    padding-left: 20px;
    
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    
}
.header_right2{
    
    margin-left: 25px;
    margin-right: 42px;
}

.header_right3{
    position: relative;
  
}
.header_right3::after{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 25px;
    content: '5';
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 10px;
    color: #FFF;

font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;





}


.first_block{
   max-width: 1600px;
    
    
    display: flex;
    /* flex-wrap: wrap; */
    /* overflow-y: scroll; */
    background-color:#F1E4E6;
      
    /* justify-content: center; */
    
    

}
.first_block_left{
    
    
    
}
.first_block_right{
    display: flex;
    
    gap: 16px;
    margin-left: 63.42px;  ;
    margin-top:  290px;
    margin-bottom: 381px;
}
.first_block_right_pic{
    height: 92px;
    width: 12px;
    background-color:  #F16D7F;
    
}
.first_block_right_text{
    /* width: 377px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first_block_right_text_1{
    
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}
.first_block_right_text_2{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.first_block_right_text_2_red{
    color:#F16D7F;
}

.offer{
    
    
    padding-top: 65px ;
    
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    
    gap: 30px;
    
}
.offer_block{

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.offer_block_w{
    height: 260px;
       
    background-image: url("../pictures/for_women_pic.png");
    
}
.offer_block_m{
    height: 260px;
    background-image: url("../pictures/for_men_pic.jpg");
}
.offer_block_k{ 
    background-image: url("../pictures/for_kids_pic.png"); 
}


/* .offer_block_k_bg{
    z-index: 1;
    top: 50;
    left: 50;
    width: 100px;
    height: 100px;
    color: black;
} */
.offer_block_k:hover{
    background-image: url("../pictures/for_kids_dark.jpg");
    
}

.wide_block{
    
    grid-column: 1/4;
    height: 180px;
    
    
    background-image: url("../pictures/accesories_pic.png");
}
.offer_text_1{
    color: #FFF;

    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.offer_text_2{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
.block_3{
    /* margin-top: 96px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 96px;

}

.block_3_main_text{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.block_3_text{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.products{
    
    
    
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    
    column-gap: 30px;
    row-gap: 25px;
    

}
.product_block{
    margin: 0 8px; overflow: hidden;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* background-color:#F8F8F8 ; */
    background-color: #F8F8F8;
}

.a {
    position: relative;
    }
    .b {
    display: none;
    border: 1px solid #FFF;
    background-color: inherit;
    width: 139px;
    height: 44px;
    color: #FFF;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    }
   
    .product_block_pic:hover .b {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    background-color: inherit;
    }
    

.product_block_pic{
    position: relative;
    display: flex;
    /* padding: 10px 110.06px 11px 108px; */
    justify-content: center;
    


}


.product_block_pic::after{
    content: '';
    background-color:rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.product_block_pic:hover::after{
    display: block;

}

.product_block_text{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin: 24px 16px;
    background-color: #F8F8F8;
}
.product_block_header{
    color: #000;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #F8F8F8;

}
.product_block_discription{
    color: #5D5D5D;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
background-color: #F8F8F8;

}
.product_block_price{
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F8F8F8;
}
.botton{
width: 212px;
margin-left: auto;
margin-right: auto;
margin-top: 48px;
margin-bottom: 60px ;

padding: 15px 39px 14px 39px;
display: flex;
border: 1px solid #F26376;
color: #F26376;

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
justify-content: center;
align-items: center;

}
.after_button{
max-width: 1600px;

display: flex; 
background-color:#222224 ;
gap: 30px;
align-items: baseline;
justify-content: center;

}
.after_button_card{
    
    /* border: 1px solid #999; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
.after_botton_pic{
   
    margin: 103px 157px 28px 158px;
}
.after_botton_text{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding-bottom: 104px;
    align-items: center;
}
.after_button_header{
    
    
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}
.after_botton_discription{
    
    padding-left: 16px;
    padding-right: 28px;
    
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
.face{
    display: flex;
    max-width: 1600px;
    
    background-image: url(../pictures/photo\ subscribe.png);
    gap: 238px;
    justify-content: center;
}
.face_card{
    display: flex;
   
    flex-direction: column;
    align-items: center;
    padding-bottom: 126px;
}
.face_card_pic{
    margin: 97px 142px 30px 122px;
}
.face_card_text{
    width: 360px;
    color: #222224;

text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.face_card_text_it{
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;   
}
.face_card_2{
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:32px; */
    
}
.face_card_big_text{
    
    color: #222224;

    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;

}
.face_card_big_text_thin{
    
    color: #222224;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 167.2%;
}
.face_card_wrapper{
    margin-top: 28px;
    display: flex;
}
.face_card_emailback{
    display: flex;
    width: 256px;
    height: 49px;
    flex-shrink: 0;
    background-color: #E1E1E1;
    border-radius:  30px 0 0 30px;
    align-items: center;
}
.face_card_email{
    border: none;
    margin-left: 22px;
    width: 170px;
height: 36px;
justify-content: center;
    background-color:  #E1E1E1;
    color: #222224;

font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}
.face_card_email_pink{
    display: flex;
    width: 100px;
    height: 49px;

background-color:#E05C6E;
    border-radius:  0 30px 30px 0;
    align-items: center;
    justify-content: center;
}
.face_card_email_pink_button{
    background-color:#E05C6E;
    color: #FFF;
    border: none;

text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
}

footer {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: #222224;
    gap: 635px;
}
.footer_text{
    margin: 30px 0 30px 0;
    color: #FBFBFB;
    justify-content: center;

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.social_logo{
    display: flex;
    gap: 7px;
}
.footer_button{
    width: 32px;
    height: 32px;
    fill:black;
}

.footer_button:hover {
    background-color:#F16D7F; 
    fill:  #FBFBFB;
    
    
}


@media (min-width: 768px) and (max-width: 1439px) {
    .for_all_blocks{
        max-width: 1024px;
        /* margin:0 16px 0 16px; */
    }
    .header_right{
    
        padding-left: auto;
        padding-right:20px;
        
        
        
        
    
    }
    .header_second{
    
        margin-top:  28px;
        margin-bottom: 20px;
        margin-left: 41px;
        margin-right: 424px;
        
    
    }
    .header_first{
    
        margin-left: 32px; 
        margin-top:  18px;
        margin-bottom: 19px;
        
        
        
    
    }  
    .first_block{
        height: 386px;
    }
    .first_block_left{
        width: 386px;
         
       
    }
    .first_block_right{
        display: flex;
        
        gap: 16px;
        margin-left: 33px; 
        margin-bottom: 138px; 
        margin-top: 138px;
        
    }
    .first_block_right_text{
        justify-content: flex-start;
    }
    .first_block_right_text_1{
    
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        
    }
    .first_block_right_text_2{
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .offer{
        max-width: 768px;
        margin: 0 auto;
    }
    .offer_block{
        
        height: 168px;
        background-size: 100%;
        
    }
    .wide_block{
        height: 116px;
        background-size: 100%;  
    }
    .block_3{
        gap: 3,3px;
        margin-bottom: 72px;
        margin-top: 106px;
    }
    .products{
        max-width: 768px;
       
    
    
   
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr) ;
        align-items: center;
        column-gap: 30px;
        row-gap: 25px;
        
    
    }

.after_button{
max-width: 1024px;


flex-direction: column;

gap: 0;

align-items: normal;

}
/* .after_button_card{
margin-bottom: 37px;
} */
.after_botton_pic{
    margin-top: 48px;
}
.face{
    max-width: 1024px;
    flex-direction: column;
    gap: 48px;
    background-size: cover;
    padding-bottom: 140px;

}
.face_card{
    display: flex;
   
    flex-direction: column;
    align-items: center;
     padding-bottom: 48px;
}

.face_card_pic{
    margin: 64px 325px 30px 325px;
}
.face_card_wrapper{
    margin-top: 34px;
    display: flex;
}
footer {
    max-width: 1440px;
    margin: 0 auto;
    gap: 305px;
}
}
@media (min-width: 357px) and (max-width: 767px) {
.header_right2, .header_right3{
    display: none;
}
.header {padding: 0 16px;
    justify-content: space-between;
}
.first_block_left{
    display: none;
}
.first_block{
    justify-content: center;
    margin-bottom: 64px;
}
.first_block_right{
    padding: 0;
    margin: 0;
    height: 375px;
    align-items: center;
    gap:15px;
}
.first_block_right_text_1{
    font-size: 38px;
}
.first_block_right_text_2{
    font-size: 20px;
 }
.first_block_right_text_2_red{
    color:#F16D7F;
}
.first_block_right_pic{
    
    height: 61px;
    

}
.offer{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.offer_block{
    height: 260px;
    background-size: cover;
    background-position: center;
    
}
.wide_block{
    height: 111px; 
    margin-bottom: 64px;
}
.products{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 8px;
    margin-bottom: 40px;
}
.after_button{
    max-width: 1024px;
    
    
    flex-direction: column;
    
    gap: 0;
    
    align-items: normal;
    
    }
    /* .after_button_card{
    margin-bottom: 37px;
    } */
    .after_botton_pic{
        margin-top: 48px;
    }

.face{
    display: flex;
   
    flex-direction: column;
    align-items: center;
    background-size: cover;
    gap: 59px;
}
.face_card_pic{
    margin: 64px auto 30px auto;
}
.face_card{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.face_card_2{
    margin-bottom: 109px;
}
footer{
    padding-top: 51px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

}    